.cRealtors {
	grid-column: full-start / -1;
	@mixin atTab {
		grid-column: col-start 7 / full-end;	
	}
	background-color: var(--color-secondary);
	color: white;
	padding: 0;
	display:grid;
	grid-template-columns: repeat(3, max-content);
	grid-template-rows: repeat(2, max-content);
	grid-column-gap: 8rem;
	grid-row-gap: 2rem;
	padding: 5rem 0;
	@mixin atTab {
		grid-template-columns: max-content;
		grid-auto-flow: row;
		align-content: center;
		padding: 0;	
	}
	justify-content: center;
	align-items: center;
	
	&__title {
		font-size: 2rem;
		@mixin atTab {
			font-size: 4rem;
		}
		text-align: center;

		grid-column: 1 / -1;
	}

	&__item {
		display: grid;

		grid-template-columns: [img-bgn] 10rem [img-en name-box-st] max-content [name-box-en];
		grid-template-rows: repeat(2, max-content);
		align-items: center;
		grid-column-gap: 2rem;
	}

	&__img {
		display: block;
		height: 10rem;
		grid-column: img-bgn / img-en;
		grid-row: 1 / span 2;
		border-radius: 50%;

	}

	&__name, &__sold {
		align-self: end;
		padding: 0;
		margin: 0;
		grid-column: name-box-st / name-box-en;		
	}

	&__sold {
		align-self: start;
		color: var(--color-grey-light-2);
		font-weight: 100;
		@mixin atTab {
			font-size: 2rem;
		}
	}

	&__name {
		font-family: var(--font-display);
		font-size: 2rem;
		@mixin atTab {
			font-size: 3rem;
		}
	}
}