.Nav {
	background-color: var(--color-primary);
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	display: flex;
	justify-content: flex-end;
	padding-right: 2rem;
	align-items: center;

	@mixin atTab {
		grid-column: 1 / 2;
		grid-row: 1 / -1;
		align-items: stretch;
		justify-content: center;
		padding: 0;
	}

}

.nav-btn {
	border: none;
	border-radius: 0;
	padding: 0;

	background-color: #fff;
	height: 2px;
	width: 4.5rem;
	margin-top: 0;
	
	@mixin atTab {
		margin-top: 4rem;
	}
	
	&::before,
	&::after {
		background-color: #fff;
		height: 2px;
		width: 4.5rem;
		content: "";
		display: block;
		margin-left: 0;
	}

	&::before { transform: translateY(-1.5rem);}
	&::after { transform: translateY(1.3rem); }

}